@charset "utf-8";

html, body{
   height: 100%;
 }
.page-container{
  width: 100%;
  position: relative;
  height: auto !important; /*IE6対策*/
  height: 100%; /*IE6対策*/
  min-height: 100%;
}

.main {
  padding-bottom: 30px;
}

h2 {
  color: #333;
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 20px;
}


.section {
  //margin-top: -60px;
  //padding-top: 60px;
  margin-bottom: 30px;
}

.jump-each-page {
  margin-top: 20px;
  li {
    font-size: 1.6rem;
    line-height: 2;
    color: #333;
    list-style-type: circle;
    margin-left: 12px;
    a {
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.66;
        text-decoration: none;
      }
    }
  }
}

.img-center {
  margin: 0 auto;
}
.imgContainer {
  position: relative;
  cursor: pointer;
}

.only-sp {
  display: block;
  @include respond-to(small) {
    display: none;
  }
}
