@charset "utf-8";
.btn {
    background: #ccc;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #333;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    :hover {
        opacity: 0.66;
    }
    &--fixed {
        position: fixed;
        right: 20px;
        bottom: 10px;
        z-index: 9997;
    }
    &--open-menu {
        cursor: pointer;
        width: 140px;
        text-align: center;
        &--fixed {
            top: 25px;
            bottom: auto;
        }
    }
    &--close-menu {
        position: relative;
        cursor: pointer;
        width: 140px;
        left: 10px;
        text-align: center;
        &--fixed {
            top: 0;
            bottom: auto;
            @include respond-to(small) {
                left: 100px;
            }
        }
    }
}
.hide-btn {
    opacity: 0;
}
