@charset "utf-8";
.btn {
    background: #ccc;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #333;
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 10px;
    transition: all 0.3s ease-in-out;
    :hover {
        opacity: 0.66;
    }
}
.hide-btn {
    opacity: 0;
}
